<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>리눅스 서비스 통합 웹</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">리눅스 서비스 통합 웹</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">

                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4" th:replace="~{navbar.html :: includeNavbar}">
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav" th:replace="~{sidebar.html :: includeSidebar}">
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">메일 전송</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">메일을 받을 사람과 내용을 입력해주세요. 해당 정보는 익명으로 전달됩니다.</li>
                        </ol>
                        <form action="/sendmail/send" method="post">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">받는 사람</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="to" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput2" class="form-label">제목</label>
                                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="제목" name="title" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">내용</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="내용" name="content" required></textarea>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <input type="submit" value="전송" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto" th:replace="~{footer.html :: includeFooter}">

                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>
