<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>리눅스 서비스 통합 웹</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/chat.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">리눅스 서비스 통합 웹</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">

        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4" th:replace="~{navbar.html :: includeNavbar}">
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:replace="~{sidebar.html :: includeSidebar}">
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div id="chat-container">
                <div class="content" data-room-id="${room.roomId}">
                    <h3 class="text-center" th:text="${room.roomName}"></h3>
                    <div id="chat-messages" class="mb-3"></div>
                    <ul class="chat_box">
                    </ul>
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="채팅내용" name="message"/>
                        <button class="btn btn-primary" id="send">전송</button>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto" th:replace="~{footer.html :: includeFooter}">

        </footer>
    </div>
</div>
<script th:inline="javascript">
    $(function () {
        var chatBox = $('.chat_box');
        var messageInput = $('input[name="message"]');
        var sendBtn = $('#send');
        var sender = /*[[${userDetails.getUsername()}]]*/ '';
        var roomId = $('.content').data('room-id');

        var sock = new SockJS("/ws");
        var client = Stomp.over(sock);
        client.debug = function (e) {
        };

        client.connect({}, function () {
            client.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, sender: sender, message: "JOIN"}));
            client.subscribe('/sub/chat/room/' + roomId, function (chat) {  // 해당 url 을 구독하고 있기에 해당 url 로 요청이 들어오면 아래의 행동을 한다.
                var content = JSON.parse(chat.body);
                chatBox.append('<li>' + content.message + '  (' + content.sender + ')</li>')
            });
        });

        sendBtn.click(function () {
            var message = messageInput.val();
            client.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, sender: sender, message: message}));
            messageInput.val('');
        });

        // TODO 엔터키 이벤트 추가하기, 디자인 추가하기
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>
</html>
